@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #12f7f7;
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Copperplate Gothic Light', sans-serif;
  font-size: 1.05rem;
  line-height: complete;
  background-color:#12f7f7;
  background-image:url(4-impo.jpg);
  color:Azure;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #7CFC00;
}

ul {
  list-style: none;
}

img {
  width: 92%;
}

/* Theme Button Css Start */
.chkbx input[type="checkbox"] {
  display: none;
}
.chkbx {
  position: relative;
  cursor: pointer;
}
.chkbx .x {
  display: block;
  width: 40px;
  height: 25px;
  border: 2px solid yellow;
  border-radius: 40px;
  transition: 0.5s;
}
.chkbx .x:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 20px;
  top: 4px;
  left: 5px;
  box-sizing: border-box;
  background: yellow;
  border: 2px solid tan;
  border-radius: 40px;
  transition: 0.5s;
}
.chkbx :checked ~ .x:before {
  background: teal;
  border-color: yellow;
  transform: translatex(22px);
}
.chkbx :checked ~ .x {
  border-color: yellowgreen;
}
/* Theme Button Css End */
/* Pagination Css Start */
.pagination .btn {
  padding: 0px;
  margin: 5px 5px;
}
.page-link {
  padding: 18px 22px;
  border-radius: 8px;
}




/* Pagination Css End */




